*{
	margin-left: 10px;
	margin-top:20px;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}
body{
	display: flex;
	justify-content:space-evenly;
	-ms-align-items:space-evenly;
	align-items:space-evenly;
	min-height: 100vh;
	background-color: #0e1538;
}

.box{
	position: relative;
	width: 600px;
	height: 500px;
background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	overflow: hidden;

}
.box h2 , label{
	color: rgb(226, 226, 226);
	text-shadow: 2px 2px black;
	font-size: 2.5em;
	z-index: 2;
}

#res{
	color: red;
	font-size: 1em;
}
